.Button {
  cursor: pointer;
}

.clear {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.configured {
  margin: 0;
  padding: 8px;
  border: none;
  background: none;
  outline: none;
}
