.app.dark {
  --bg-color: #23272f;
  --inverted-bg-color: #fff;

  // цвет шрифта
  --primary-color: #149ECA;
  --secondary-color: #F6F7F9;

  --inverted-primary-color:  #F6F7F9;
  --inverted-secondary-color: #087EA4;

}
