.app.normal {
  --bg-color: #fff;
  --inverted-bg-color: #23272f;

  // цвет шрифта
  --primary-color:  #23272F;
  --secondary-color: #087EA4;

  --inverted-primary-color: #149ECA;
  --inverted-secondary-color: #23272F;
}
