.app.normal {
    --bg-color: #fff;
    --inverted-bg-color: #23272f;

    // цвет шрифта
    --primary-color: #23272f;
    --secondary-color: #087ea4;
    --inverted-primary-color: #149eca;
    --inverted-secondary-color: #23272f;
    --sidebar-primary-color: #f6f7f9;
    --sidebar-secondary-color: #087ea4;
}
