.Navbar {
  width: 100%;
  height: var(--navbar-height);
  border: 0.5px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarLinks {
  padding: 4px;
  margin-right: auto;
}
